*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
}

body {
    background-color: teal;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
    background-color: rgb(51, 150, 51);
    color: #fff;
}

header nav ul li{
    display: inline-block;
    margin-left: 25px;
}

header h1 {
    display:inline-block;
    font-size: 200%;
}

/* Set up aside bar to take up the left part of the screen with set border and size. */
.about-me, .works, .contact-me{
    /* display: inline-block; */
    width: 25%;
    border-right: black 3px solid;
    min-height: 200px;
    text-align: right;
    font-size: 30px;
    color: black;
}

/* .contact-me h2 {
    width: 25%;
    border-right: black 3px solid;
    float: left;
    min-height: 200px;
    text-align: right;
    font-size: 30px;
    color: black;
} */

.contact-me {
    display:flex;
    justify-content: space-between;
}

.contact-me ul li{
    /* display: inline-block; */
    margin-left: 25px;
    float: right;
}

.contact-me ul li:first-child{
    color:#fff;
}

.contact-me ul{
    list-style-type: none;
}

section p{
    display: inline-block;
    float: right;
    width: 74%;
    font-size: 25px;
}
article {
    min-height: 300px;
    border: 1px solid black;
    padding: 2% 4%;
    width: 74%;
    float: right;
    /* display: flex;
    align-content: flex-start; */
}

.first-assignment h3, .first-assignment p{
    padding: 5px;
    background: purple;
    color: #fff;
    width: 200px;
}

.first-assignment img {
    width: 100%;
}

.placeholder h3, 
.placeholder p{
    padding: 5px;
    background: purple;
    color: #fff;
    width: 200px;
}

