*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
}

body {
    background-color: teal;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
    background-color: rgb(51, 150, 51);
    color: #fff;
}

header nav ul li{
    display: inline-block;
    margin-left: 25px;
}

header h1 {
    display:inline-block;
    font-size: 200%;
}

.banner {
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/abstractspacepicture.jpg");
    background-size: cover;
    background-position: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.projects-whole {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-bottom-half {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.works {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: center;
}

.projects {
    flex: 0 1 33%;
}

section p{
    display: inline-block;
    width: 75%;
    font-size: 25px;
}
.about-me {
    display:flex;
    flex-direction: row;
}

.about-me h2, .works h2, .contact-me h2{
    width: 20%;
    border-right: black 3px solid;
    text-align: right;
    font-size: 45px;
    margin-right: 30px;
    padding-right: 30px;
}

.contact-me ul li {
    display: inline-block;
    margin-left: 100px;
    font-size: 30px;
}

footer {
    display: flex;
    justify-content: space-evenly;
}

.first-assignment {
    min-height: 100px;
    border: 1px solid black;
    /* padding: 1% 2%; */
    width: 70%;
    flex: 0 1 75%;
}
.placeholder, .second-assignment {
    min-height: 200px;
    border: 1px solid black;
    padding: 1% 2%;
    width: 30%;
}

.first-assignment h3, .first-assignment p{
    padding: 5px;
    background: purple;
    color: #fff;
    width: 200px;
    font-size: 20px;
    text-align: center;
}

.first-assignment img, .second-assignment img, .placeholder img{
    width: 100%;
}

.placeholder h3, 
.placeholder p,
.second-assignment h3,
.second-assignment p {
    padding: 5px;
    background: purple;
    color: #fff;
    width: 200px;
    font-size: 20px;
    text-align: center;
}

@media screen and (max-width:767px){
    .about-me h2, .works h2, .contact-me h2{
        width: 20%;
        border: none;
        border-bottom: black 3px solid;
        text-align: right;
        font-size: 45px;
        margin-right: 30px;
        padding-right: 30px;
        text-align: center;
    }
    .about-me, .works, .contact-me{
        display: flex;
        flex-direction: column;
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .contact-me ul li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 0px;
        font-size: 30px;
    }
    header{
        display: flex;
        flex-direction: column;
    }
}
